<%= form_for [post, Comment.new] do |f| %>
  <div class="row">
    <div class="col-md-offset-1">
      <div class="panel panel-inverse">
        <%= placeholdit_image_tag "25" %>
        <div class="panel-body panel-body-inverse">
          <div class="col-md-10">
            <%= f.text_area :body, rows: 1, class: 'form-control', placeholder: '' %>
          </div>
          <div class="col-md-2">
            <%= f.submit "OK", class: 'btn btn-primary pull-right' %>
          </div>
        </div>
      </div>

    </div>
  </div>
<% end %>
