<div class="row">
  <div class="panel">
    <div class="panel-heading">
      Friends (<%= @friends.count %>)
    </div>
    <div class="panel-body">
      <%= render partial: 'users/friend_picture', collection: @friends, as: :user %>
    </div>
  </div>
</div>
