<div class="row">
  <div class="panel">
    <div class="panel-group">
      <div class="panel-body">
        <%= placeholdit_image_tag "225", class: "img-rounded" %>
      </div>
      <div class="panel-footer">
        <%= profile_friendship_button(@user) %>
      </div>
    </div>


    <div class="panel-footer links" style="background: white;">
      <%= link_to "Timeline", "#", class: "btn btn-sm btn-default" %>
      <%= link_to "About", "#", class: "btn btn-sm btn-default" %>
    </div>
  </div>
</div>
