<div class="col-xs-12 col-sm-6  col-md-3">
  <div class="thumbnail">
    <%= link_to user_path(user.username) do %>
      <%= image_tag(user.avatar.large_avatar) %>
      <div class="caption">
        <p class="text-center"><%= user.username %></p>
      </div>

    <% end %>
  </div>
  <div class="friendship-button text-center">
    <%= profile_friendship_button(user) %>
  </div>
</div>
