<div class="col-md-2">
  <div class="thumbnail">
    <%= link_to user_path(user.username) do %>
      <%= placeholdit_image_tag "200" %>
    <% end %>
  </div>
  <div>
    <%# This will create the correct button for the user (refer to user profile of design document)%>
    <%= profile_friendship_button(user) %>
  </div>
</div>
