<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>Friend Requests From</h3>
    </div>
  </div>
  <div class="row requested-friends">
    <%= render partial: "user", collection: @requests_from %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>Friends</h3>
    </div>
  </div>
  <div class="row active-friends">
    <%= render partial: "user", collection: @friends %>
  </div>
</div>
