<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>Friend Requests From</h3>
    </div>
  </div>
  <div class="row requested-friends">
    <% @requests_from.each do |request| %>
      <%= react_component('UserIndex',
                                { user: request,
                                  avatar: request.avatar.large_avatar.to_s,
                                  friendship_button: profile_friendship_button(request).to_s
                                }) %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>Friends</h3>
    </div>
  </div>
  <div class="row requested-friends">
    <% @friends.each do |friend| %>
      <%= react_component('UserIndex',
                                { user: friend,
                                  avatar: friend.avatar.large_avatar.to_s,
                                  friendship_button: profile_friendship_button(friend).to_s
                                }) %>
    <% end %>
  </div>
</div>
