<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>All Users (Will change to Requests later)</h3>
    </div>
  </div>
  <div class="row">
    <%= render partial: "user", collection: @users %>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="panel panel-head">
      <h3>Friends</h3>
    </div>
  </div>
  <div class="row">
    <%= render partial: "user", collection: @friends %>
  </div>
</div>
