<div id="user-profile-header">
  <%= render partial: 'header' %>

  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-7">
        <% if policy(@posts.first).create? %>
          <%= render partial: 'posts/form' %>
        <% end %>
        <%= render partial: 'posts/post', collection: @posts %>

      </div>
      <div class="col-md-3 friends">
        <%= render partial: 'users/friends' %>
      </div>
    </div>
  </div>

</div>
