<div id="user-profile-header">
  <%= render partial: 'header' %>

  <div class="container">
    <div class="row">
      <div id="post-form" class="col-md-offset-1 col-md-7">
        <% if policy(@user).owner? %>
          <%= react_component('PostForm',
            { user: @user,
              avatar: @user.avatar.post_avatar.to_s,
              authenticity_token: form_authenticity_token
            }) %>
          <%#= render partial: 'posts/form', locals: {user: @user} %>
        <% end %>
        <% @posts.each do |post| %>
          <%= react_component('Post',
            { user: @user,
              avatar: @user.avatar.post_avatar.to_s,
              post: post,
              comments: post.comments
            }) %>
        <% end %>
        <%#= render partial: 'posts/post', collection: @posts, locals: {user: @user} %>

      </div>
      <div class="col-md-3 friends">
        <%= render partial: 'users/friends' %>
      </div>
    </div>
  </div>

</div>
