<!-- Modal -->
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title text-center" id="myModalLabel">Edit Post</h4>
    </div>
    <div class="modal-body">
      <%= form_for [post.user, post], class: "form-group" do |f| %>
        <%= f.text_area :body, rows: 4, class: 'form-control', value: post.body %>
        <div class="form-group">
          <%= submit_tag "Update", class: "btn btn-primary pull-right" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
