<div class="row">
  <div class="col-md-offset-1">
    <div class="panel panel-inverse">
      <%= placeholdit_image_tag "100" %>
      <div class="panel-body panel-body-inverse">
        <%= post.body %>
      </div>
    </div>
    <div class="panel-footer panel-footer-inverse">
      <p>
        Like Dislike
      </p>
    </div>
  </div>


</div>
