.fa-heart, .fa-bomb {
  color: darken($dark-grey, 35%);

  &:hover {
    @include transition(color .3s);
    color: $orange;
  }
}

.fa-cog.fa-2x {
  color: $medium-grey;

  &:hover {
    @include transition(color .5s);
    color: $orange;
  }
}
