// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.panel-inverse {
  margin-bottom: 1px;
  border-bottom-right-radius:0;
  border-bottom-left-radius:0;
  img {
    position: absolute;
    margin-left: -125px;
  }
  .panel-heading-inverse {
    background-color: #fff;
    margin: 0;
    color: $medium-grey;

    i:hover {
      color: $dark-grey;
    }
  }
  .panel-body-inverse {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    background: #fff;
    padding: 15px;
    &.panel-body-post {
      padding-top: 0;
    }
    textarea, .text-area {
      background: $light-grey;
      border: 1px solid $dark-grey;
    }
    .text-area {
      padding: 5px;
    }
  }
}

  .panel-footer.panel-footer-inverse {
    border-top-right-radius:0;
    border-top-left-radius:0;
    background: #fff;
    &.panel-footer-form {
      text-align: right;
    }
    input {
      padding-top:2px;
      padding-bottom:2px;
      padding-left:20px;
      padding-right:20px;
    }
  }
