#user-profile-header {
  .panel {
    .panel-group {
      padding-left: 30px;
      margin-bottom:-28px;
      .panel-body {
        padding-top: 40px;
        a {
          bottom:0;
          margin-left:20px;
        }
        .avatar {
          position: relative;
          width: 225px;
          .edit-avatar {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-right: 5px;
            margin-bottom: 5px;
            color: #fff;
            opacity: 0.5;
            &:hover {
              @include transition(.3s);
              opacity: 1;
            }
          }
        }
      }
      .panel-footer {
        margin-bottom:0;
        padding-top:0;
        h3 {
          position:absolute;
          margin-left: 250px;
          margin-top: -50px;
        }
        a {
          width: 225px;
          padding-top:2px;
          padding-bottom:2px;

          i {
            background: $light-grey;
            padding:3px;
            margin-left: 60px;

            &.fa-times {
              margin-left: 35px;
            }
          }
        }

      }
    }

    .panel-footer.links {
      border-top-right-radius:0;
      border-top-left-radius:0;
      margin-bottom:0;
      padding-left:290px;
      padding-bottom: 0;
    }
  }
}

.requested-friends, .active-friends {
  .thumbnail {
    border: none;
    position:relative;
    padding:0;
    margin-bottom:0;
    background: #fff;
    width:100%;
    .caption {
      color: $orange;
      background: rgba($light-grey, 0.8);
      position:absolute;
      width:100%;
      bottom:0;
      p {
        margin-bottom:0;
      }
    }
  }
}

.requested-friends {
  .friendship-button {
    margin-top: 5px;
    margin-bottom: 20px;
    a {
      margin: 7%;
      i {
        background: $light-grey;
        padding:3px;
      }
    }
  }
}

.requested-friends-helper {
  a {
    i {

    }
  }
}

.active-friends {
  .friendship-button {
    margin-top: 5px;
    margin-bottom: 20px;

    a {
      @include border-radius(0);
      padding: 3px;
      display: block;
    }

  }
}
